/* Nav */
.logo img {
    height: 2.2rem;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 4.8rem;
    background: #fdf2e9;
}

.main-nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-item:link, .main-nav-item:visited {
    text-decoration: none;
    font-size: 1.8rem;
    color: #555;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.main-nav-item:active, .main-nav-item:hover {
    color: #cf711f;
}

.main-nav-item.nav-cta:link, .main-nav-item.nav-cta:visited {
    background-color: #e67e22;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.main-nav-item.nav-cta:active, .main-nav-item.nav-cta:hover {
    background-color: #cf711f;
}

/* Mobile nav */

.btn-mobile-nav {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name='close-outline'] {
    display: none;
}

/* Hero Section */
.hero {
    max-width: 130rem;
    align-items: center;
    padding: 4.8rem 3.2rem 9.6rem 3.2rem;
}

.section-hero {
    background-color: #fdf2e9;
}


.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}


.meals-delivered {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.hero-customers img {
    width: 4.8rem;
    height: 4.8rem;
    border: 3px solid #fdf2e9;
    border-radius: 50%;
    margin-right: -1.6rem;
}

.hero-customers img:last-child {
    margin: 0;
}

.customer-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.customer-text span {
    color: #cf711f;
    font-weight: 700;
}

/* Section how */

.section-how {
    margin: 3.2rem 9.6rem;
}

.heading-tertiary-how {
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #cf711f;
    font-weight: 500;
    margin: 9.6rem 2.4rem 0 0;
}

.heading-primary-how {
    font-size: 4.4rem;
    color: #333;
}

.steps-how {
    margin-top: 9.6rem;
    align-items: center;
}


.step-number {
    color: #ddd;
    font-size: 8.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.step-heading {
    font-size: 3rem;
    color: #333;
    margin-bottom: 2.4rem;
}

.step-desc {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-screenshot {
    position: relative;
}

.step-screenshot img {
    width: 35%;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.step-screenshot::before, .step-screenshot::after {
    content: '';
    display: block;
    position: absolute;

    border-radius: 50%;
}

.step-screenshot::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}

.step-screenshot::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fbe5c5;
    z-index: -2;
}

/* Featured in */

.featured-heading {
    text-transform: uppercase;
    margin: 6.4rem 0 1.8rem 0;
    letter-spacing: 1px;
    font-weight: 500;
    color: #888;
    text-align: center;
    font-size: 1.4rem;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 6.4rem;
    margin-top: 2.4rem;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;

    /* To generate stroke of any color https://codepen.io/sosuke/pen/Pjoqqp*/
    /*filter: invert(49%) sepia(94%) saturate(486%) hue-rotate(346deg) brightness(85%) contrast(89%);*/
}

/* Meals */

.heading-primary-meals {
    font-size: 4.4rem;
    color: #333;
    text-align: center;
    margin-bottom: 4.8rem;
}

.meals-meal {
    border-radius: 10px;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.meals-meal:hover {
    box-shadow: 0 3.4rem 6.8rem rgb(0 0 0 / 7%);
    transform: translateY(-1.2rem);
}

.meals-meal img {
    max-width: 100%;
}

.meal-info-container {
    padding: 3.2rem
}

.tags {
    padding: 1.2rem 0;
}

.tag {
    text-transform: uppercase;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
}

.yellow {
    background-color: #ffd43b;
}

.green {
    background-color: #51cf66;
}

.meal-name {
    font-size: 2.4rem;
    letter-spacing: -0.5px;
}

.meal-info-list {
    list-style: none;
    margin: 3.2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.meal-info-item {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.8rem;
}

.meal-icon {
    width: 2.4rem;
    height: 2.4rem;
}

.meals-diet h2 {
    font-size: 3.2rem;
    color: #333;
    margin-bottom: 3.6rem;
}

.diet-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.diet-item {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.diet-icon {
    width: 3.2rem;
    height: 3.2rem;
}

.diet-item span {
    font-size: 1.8rem;
}

.all-meals {
    text-align: center;
    font-size: 1.8rem;
}

/* Testimonials */

.section-testimonials {
    padding: 4.8rem 1.8rem 4.8rem 4.8rem;
    background-color: #fdf2e9;
    margin-top: 9.6rem;
}

.gallery-image {
    overflow: hidden;
}

.gallery-image img {
    /*height: 15rem;*/
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.gallery-image img:hover {
    transform: scale(1.25);
}

.testimonials-grid {
    align-items: center;
}

.testimonials-gap {
    grid-gap: 1.2rem 1.2rem;
}

.testimonials-subheading {
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #cf711f;
    margin-bottom: 4.8rem;
}

.customer-image {
    width: 6.4rem;
    border-radius: 50%;
    overflow: hidden;
}

.customer-image img {
    max-width: 100%;
}

.review {
    margin-top: 2.4rem;
    font-size: 1.8rem;
    line-height: 2;
    color: #555;
}

.customer-name {
    margin-top: 1.8rem;
    display: inline-block;
    font-size: 1.6rem;
}

/* Pricing */

.prices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 9.6rem;
    flex-wrap: wrap;
}

.price-card {
    border: 1px solid #fdf2e9;
    border-radius: 10px;
    padding: 4rem;
    text-align: center;
}

.plan-name {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #cf711f;
    font-weight: 500;
}

.plan-price {
    font-size: 5.2rem;
    font-weight: 600;
    color: #333;
}

.plan-price .currency {
    font-size: 3rem;
    margin-right: 0.5rem;
}

.plan-detail {
    font-size: 1.4rem;
    color: #666;
    margin-bottom: 3rem;
}

.complete {
    background-color: #fdf2e9;
    position: relative;
    overflow: hidden;
}

.complete:after {
    content: 'Best value';
    position: absolute;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    top: 6%;
    right: -18%;
    rotate: 45deg;
}

.price-condition {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.6rem;
    color: #777;
}

/* Feature */

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    margin-top: 9.6rem;
}

.icon-feature {
    height: 3rem;
    width: 3rem;
}

.feature-fig {
    background-color: #fdf2e9;
    display: inline-block;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 2.4rem;
}

.feature-heading {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.feature-desc {
    font-size: 1.8rem;
    line-height: 1.8;
    color: #777;
}


/* CTA */

.cta {
    margin: 9.6rem 0;
    color: #45260a;
}

.cta-grid {
    display: grid;
    grid-template-columns: 5fr 2fr;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.17)
}

.cta-image {
    background-image: linear-gradient(
            to right bottom,
            rgba(235, 151, 78, 0.35),
            rgba(230, 125, 34, 0.35)
    ), url("../img/eating.jpg");
    background-size: cover;
    background-position: center;
}

.cta-text {
    padding: 6.4rem 9.6rem
}

.cta-heading {
    font-size: 3.6rem;
    color: #45260a;
    margin-bottom: 3.6rem
}

.cta-desc {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 3.6rem;
}

.form-grid {
    gap: 3rem;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.form-label span {
    font-size: 1.6rem;
    font-weight: 500;
}

.form-label input, .form-label select {
    padding: 1rem 2rem;
    color: inherit;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 100%;
    font-family: inherit;
    background-color: #fdf2e9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.form-label input::placeholder {
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #777
}

.sign-up-btn {
    align-self: end;
}

.sign-up-btn button {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #45260a;
    color: #fff;
    /*font-size: 1.8rem;*/
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 10px;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.49);
}

/* Footer */

.horizontal-line {
    box-shadow: 0 0 0.5px 0.5px #ccc
}

.footer {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
    padding-top: 9.6rem;
    margin-bottom: 9.6rem;
}

.omnifood img {
    height: 2.4rem;
}

.contact {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.contact-links {
    color: #777;
    width: 2.4rem;
    height: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    margin-top: 6.4rem;
    color: #777;
    line-height: 1.8;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.footer-item {
    font-size: 1.6rem;
    color: #777;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.link-footer {
    color: #777;
    text-decoration: none;
}
